 /* The sidebar menu */ 
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #43ccd6; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    background: lightgreen
  }
  
  /* The settings link at the bottom of the navigation menu*/
  .sidenav a2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size:  25px;
    color: #000000;
    display: block;
    background: lightgreen;
    position: absolute;
    bottom: 0%;
    width: 100%;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #7d5411;
    background-color: rgb(255, 244, 48); /* background highlight color*/
  }

  .sidenav a2:hover {
    color: #7d5411;
    background-color: rgb(255, 244, 48);
  }
  
  /* Style page content */
  .main {
    padding:  10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items:end;
  }
  .homeCol{
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  float: left;
  }
  
  .main homeText{
    font-size: 90px;
  }

  .textBox{
    width: 200px;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 5%;
    text-align: center;
    float: left;
    font-weight: bold;
  }

  .sortBy{
    width: 100px;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 5%;
    text-align: center;
    float:left;
    font-weight: bold;
  }

  .textBox:hover {
    color: #242424;
    background-color: rgb(131, 186, 236); /* background highlight color*/
  }

  .sortBy:hover {
    color: #242424;
    background-color: rgb(141, 194, 174); /* background highlight color*/
  }

  .main scrollBox{
    height:550px;
    width:400px;
    padding: 10px;
    margin-top: 10px;
    border:1px solid #ccc;
    overflow:auto;
  }

  .input{
    padding: 10px;
  }

  .input item-input{
    width: 100px;
  }
  ul{
    list-style-type: none;
    padding: 0;
  }

  ul li{
    border: 1px solid #000;
  }

/* Style page content */
.myFoodTop {
  height: 15%;
  margin-left: 8px;
  padding: 0px 10px;
  width: 72%;
  top: 0;
  position: absolute;
  left: 15%;
}

.myFoodTop h1{
  font-size: 55px;
  margin: 0.5%;
}
.myFoodTop .add-food{
  margin-right: 3%;
  position: absolute;
  right: 0;
  border: 2px solid black;
  width: 13%;
  height: 60px;
  top: 38%;
  font-size: 20px;
  text-align: center;
  bottom: 6%;
}
/* The actual popup */
.add-food .popupWindow {
    visibility: hidden;
    /* width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
 */
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }

  .add-food .form2 {
    padding: 37.5px;
    margin: 50px 0;
  }

  h2 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #474544;
      color: #474544;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
    text-transform: uppercase;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #474544;
  }
  
  :-moz-placeholder { 
      color: #474544;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #474544;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #474544;
  }
  
  #form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #474544;
    color: #F2F3EB;
  }
  
  @media screen and (max-width: 768px) {
    #container {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 26px;
    }
    
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h2 {
      font-size: 18px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }

  /* Toggle this class - hide and show the popup */
.add-food .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

.add-food:hover {
  color: #242424;
  background-color: rgb(131, 186, 236); /* background highlight color*/
}
  .myFoodTop .search-container {
    margin-left: 0.5%;
    top: 50%;
    width: 95%;
    position: absolute;
  }

  .myFoodTop input[type=text] {
    padding: 6px;
    margin-top: 2%;
    width: 75%;
    height: 15px;
    font-size: 20px;
    border: 2px solid #000000;
  }
  
  .myFoodTop .search-container button {
    width: 8%;
    height: 65%;
    margin-top: 2%;
    border: 2px solid #000000;
    cursor: pointer;
    position: absolute;
    margin-left: 0.5%;
    font-size: 20px;
  }

  .mainContent{
    border: 2px solid #000;
    margin-top: 8%;
    margin-left: 15%;
    margin-bottom: 5%;
    height: 650px;
    width: 72%;
    position: absolute;
  }

  .rightcol{
    height: 100%;
    position: absolute;
    width: 15%;
    right: 0;
    top: 0;
    overflow-x: hidden;
  }

  .rightcol .login{
    width: 70%;
    height: 10%;
    border: 2px solid gray;
    margin-top: 10%;
    font-size: 17px;
    right: 10%;
    text-align: center;
    font-weight: bold;
    background: #ffff89;
    position: absolute;
  }

  .rightcol .login:hover {
    color: #242424;
    background-color: rgb(135, 143, 64); /* background highlight color*/
  }

  .rightcol .sort-col{
    position: absolute;
    top: 15%;
  }
  .rightcol .sort-col button{
    width: 135px;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 12%;
    margin-left: 25%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  .rightcol .sort-col button:hover {
    color: #242424;
    background-color: rgb(131, 186, 236); /* background highlight color*/
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
    .sidenav a2 {font-size: 18px;}

  }

  @media screen and (max-height: 650px) {
    .myFoodTop input {margin-top: 20px;}
    .myFoodTop h1 {font-size: 35px;}

  }
  @media screen and (max-height: 650px) {
    .rightcol .sort-col button {margin-top: 5px;}
    .myFoodTop h1 {font-size: 35px;}

  }
