<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Planner</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="#">Pantry Planner</a>
    <a href="#">My Food</a>
    <a href="#">Shopping List</a>
    <a href="#">Recipes</a>
    <b href="#">Settings</b>
  </div>
  <!-- Page content -->
  <div class="main">
    <div class ="homeCol">
    <homeText> Home </homeText>
    <div class ="sortBy">Sort by...</div>
    <div class ="textBox">close to expiring</div>
    <form>
      <label for="item-input">Enter an item:</label>
      <input type="text" id="item-input" name="item-input">
      <button type="button" onclick="addItem()">Add to List</button>
    </form>



    <scrollBox> 
      <ol id="list"></ol>
    </scrollBox>

    <script>
      function addItem() {
        const input = document.getElementById("item-input");
        const item = input.value;
        input.value = "";
        const list = document.getElementById("list");
        const listItem = document.createElement("li");
        listItem.appendChild(document.createTextNode(item));
        list.appendChild(listItem);
      }
    </script>


    </div>
    <div class ="homeCol">
      <div class ="sortBy">Sort by...</div>
      <div class ="textBox">My Shopping list</div>
      <scrollBox> this is where the shopping list would go if I had one</scrollBox>
      </div>
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
  <script type="module">

      // Import the functions you need from the SDKs you need
    
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
      import { getDatabases } from "firebase/database";
      // TODO: Add SDKs for Firebase products that you want to use
    
      // https://firebase.google.com/docs/web/setup#available-libraries
    
    
      // Your web app's Firebase configuration
    
      const firebaseConfig = {
    
        apiKey: "AIzaSyA3RzxLT0P7Vu_ne5bwfcSS2jFGXRV91YI",
    
        authDomain: "pantry-planner-c34aa.firebaseapp.com",
    
        projectId: "pantry-planner-c34aa",
    
        storageBucket: "pantry-planner-c34aa.appspot.com",
    
        messagingSenderId: "718999300893",
    
        appId: "1:718999300893:web:04b1ef888d8bc0b3074ff4",

        // The value of `databaseURL` depends on the location of the database
        //TODO: replace with database name
        databaseURL: "https://DATABASE_NAME.firebaseio.com",

    
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    
    </script>
</body>
</html>
