<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Planner</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <!-- Page content -->
  <div class="main">
    <div class ="homeCol">
    <homeText> Home </homeText>
    <div class ="sortBy">Sort by...</div>
    <div class ="textBox">close to expiring</div>
   
    <form>
      <div class ="input">
        <label for="item-input">Food:</label>
        <input type="text" id="item-input" name="item-input">
      
        <label for="exp-input">Expiration date:</label>
        <input type="date" id="exp-input" name="exp-input">
      
        <button type="button" onclick="addItemExp()">Add to List</button>
      </div>
    </form>

    <scrollBox> 
      <ul id="expList"></ul>
    </scrollBox>

    <script>
      function addItemExp() {
        const itemInput = document.getElementById("item-input");
        const expInput = document.getElementById("exp-input");
        const item = itemInput.value;
        const exp = expInput.value;
        itemInput.value = "";
        expInput.value = "";
        const list = document.getElementById("expList");
        const listItem = document.createElement("li");
        const itemHeading = document.createElement("h2");
        itemHeading.appendChild(document.createTextNode(item));
        const expPara = document.createElement("p");
        expPara.appendChild(document.createTextNode(exp));
        listItem.appendChild(itemHeading);
        listItem.appendChild(expPara);
        list.appendChild(listItem);

      database.ref('users').push({
      item: itemInput,
      expiration: expInput
      });
      }
    </script>


    </div>
    <div class ="homeCol">
      <div class ="sortBy">Sort by...</div>
      <div class ="textBox">My Shopping list</div>
      <scrollBox> this is where the shopping list would go if I had one</scrollBox>
      </div>
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
  <script type="module">

      // Import the functions you need from the SDKs you need
    
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
      import { getDatabases } from "firebase/database";
      // TODO: Add SDKs for Firebase products that you want to use
    
      // https://firebase.google.com/docs/web/setup#available-libraries
    
    
      // Your web app's Firebase configuration
    
      const firebaseConfig = {
    
        apiKey: "AIzaSyB2DuI-rqRSZYiiEzvBasH4CUeppxX_FoY",
        authDomain: "pantryplanner-5d480.firebaseapp.com",
        databaseURL: "https://pantryplanner-5d480-default-rtdb.firebaseio.com",
        projectId: "pantryplanner-5d480",
        storageBucket: "pantryplanner-5d480.appspot.com",
        messagingSenderId: "407621335990",
        appId: "1:407621335990:web:c6ef5ac9f60b5ba09e9f17",
        measurementId: "G-56LV409GVC",
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      var database = firebase.database();
      
    
    </script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
