<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <!--<script type="module" src="static/js/index.js"></script>-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Planner</title>
</head>
<body>

  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a3 id="login" href="login">Login</a3>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

  <!-- Page content -->
  <div class="main">
    <div class ="homeCol">
    <homeText> Home </homeText>
    <div>
      <div onclick="myFunction()" class="dropbtn">Sort by</div>
      <div class ="textBox">My Food</div>
    </div>
    <div>
    <div id="myDropdown" class="dropdown-content">
      <a id = "sortByExp">Expiring sooner</a>
      <a id = "RsortByExp">Expiring later</a>
      <a id = "sortByName">Name A-Z</a>
      <a id = "RsortByName">Name Z-A</a>
      <a id = "sortByAdded">Recently added</a>
      <a id = "RsortByAdded">First added</a>
    </div>
  </div>
    <form>
      
      <div class ="input">
        <div>
          <label for="item-input">Food:</label>
          <input type="text" id="item-input" name="item-input">
        </div>
        <div>
          <label for="exp-input">Expiration date:</label>
         <input type="date" id="exp-input" name="exp-input">    
        <button type="button" onclick="addItemExp()">Add to List</button>
      </div>
      <div id="invalid-input-food" class=errormsg>Invalid Input, Try Again</div>
      </div>
    </form>

    <div class = "scrollB"> 
      <ul id="expList"></ul>
    </div>

    </div>
    <div class ="homeCol">
        <div class ="textBoxMT">Shopping List Quick Add</div>
        <div class = "buttonBox">
          <label for="item-input">Food:</label>
          <input type="text" id="shop-input" name="item-input">
          <button type="button" onclick="addItemShop()">Add to List</button>
          <div id="invalid-input-shop" class=errormsg>Invalid Input, Try Again</div>
        </div>
        <div class ="textBox">Food Expiring Soon</div>
        <div>
          <ul id="expSoon"></ul>
        </div>
      </div>


      </div>
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
