<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my-food.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a3 id="login" href="login">Login</a3>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <!-- Page content -->
  <div class="myFoodTop">
    <h1>My Food</h1>
    <div class = "add-food" onclick="popUp()">Add food
      <span class="popupWindow" id="Popup">
        <div id="container">
          <h2> Add food </h2>
          <form>
      
            <div class ="input">
              <label for="item-input">Food:</label>
              <input type="text" id="item-input" name="item-input">
            
              <label for="exp-input">Expiration date:</label>
              <input type="date" id="exp-input" name="exp-input">
      
              
              <button type="button" onclick="addItemExp()">Add to List</button>
            </div>
          </form>
      
          
        </div><!-- // End #container -->
      </span>
    </div>
    <script>
      // When the user clicks on div, open the popup
      function popUp() {
        var popup = document.getElementById("Popup");
        popup.classList.toggle("show");
      }
      </script>
    <!-- Search box -->
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Go</button>
      </form>
    </div>
  </div>
    <!-- Right columns -->
  <div class="rightcol">
    <button id="Sign-up" class ="login">Sign up/Login</button>
    <div class="sort-col">
      <button id="Sort-foods-by-name" class ="box">Sort foods by name</button>
      <button id="Add-foods-by-picture" class ="box">Add foods by picture</button>
      <button id="Add-foods-from-list" class ="box">Add foods from list</button>
      <button id="Remove-by-name" class ="box">Remove by name</button>
      <button id="Remove-using-recipes" class ="box">Remove using recipes</button>
      <button id="Show-expiring" class ="box">Show expiring</button>
    </div>
    ...
  </div> 

  <div class="mainContent">
    main content
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
  <script type="module">

      // Import the functions you need from the SDKs you need
    
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
      import { getDatabases } from "firebase/database";
      // TODO: Add SDKs for Firebase products that you want to use
    
      // https://firebase.google.com/docs/web/setup#available-libraries
    
    
      // Your web app's Firebase configuration
    
      const firebaseConfig = {
    
        apiKey: "AIzaSyA3RzxLT0P7Vu_ne5bwfcSS2jFGXRV91YI",
    
        authDomain: "pantry-planner-c34aa.firebaseapp.com",
    
        projectId: "pantry-planner-c34aa",
    
        storageBucket: "pantry-planner-c34aa.appspot.com",
    
        messagingSenderId: "718999300893",
    
        appId: "1:718999300893:web:04b1ef888d8bc0b3074ff4",

        // The value of `databaseURL` depends on the location of the database
        //TODO: replace with database name
        databaseURL: "https://DATABASE_NAME.firebaseio.com",

    
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    
    </script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
