<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my-food.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/add-food.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopmoping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a3 id="login" href="login">Login</a3>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <!-- Page content -->
  <div class="myFoodTop">
    <h1 class="title">My Food</h1>
    <button class = "add_food" id = "add_food">Add food</button> <!-- onclick="popUp()" -->
      <div id="addFoodPopup" class="popup">
        <div class="addFoodPopup-content">
            <button class="x"  id="x"> <!-- close button -->
                X
            </button>
            <h1 style="color:rgb(196, 255, 196);">
                Add food
              </h1>
              <form>
                <div class ="input">
                  <div id = "user-promt-pop">ENTER A USER NAME</div>
                  <input type="text" id="user-input-pop" name="user-input">
                  <!-- <button type="button" id="user-button-pop" onclick="changeUser()">Change Username</button> -->
                  
                  <label for="item-input"><br>Food:</label>
                  <input type="text" id="item-input-pop" name="item-input"></input>
                
                  <label for="exp-input"><br>Expiration date:</label>
                  <input type="date" id="exp-input-pop" name="exp-input"></input>
                  
                </div>
              </form>
            <button type="button" class="closeAddPopup"  id="AddFoodButton">  <!-- onclick="popUp; changeUser; addItemExp;" -->
                  Add
              </button>
        </div>
      </div>
  
      <script>
        add_food.addEventListener("click", function () {
          console.log("open");
          addFoodPopup.classList.add("show");
        });
        x.addEventListener("click", function () {
          console.log("close?");
          addFoodPopup.classList.remove("show");
        });
        window.addEventListener("click", function (event) {
          if (event.target == addFoodPopup) {
            addFoodPopup.classList.remove("show");
          }
        });
      </script>
      <!-- <span class="popupWindow" id="Popup">
        <div id="container">
          <h2> Add food </h2>
          
      
          
        </div>// End #container -->
      <!-- </span> --> -->
    <!-- </div>
    <script>
      // When the user clicks on div, open the popup
      function popUp(){
        var popup = document.getElementById("Popup");
        var popup2 = document.getElementById("container");
        console.log("popUp");
        popup.classList.toggle("show");
        popup2.classList.toggle("show");
        // if (!popup.classList.contains("show")) {
        //   popup.classList.toggle("show");
        // }
      }

      // function closePopUp(){
      //   var popup = document.getElementById("Popup");
      //   console.log("closePopUp");
      //   popup.classList.toggle("hide");
      // }
      </script> -->
    <!-- Search box -->
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Go</button>
      </form>
    </div>
  </div>
    <!-- Right columns -->
  <div class="rightcol">
    <button id="Sign-up" class ="login">Sign up/Login</button>
    <div class="sort-col">
      <button id="Sort-foods-by-name" class ="box">Sort foods by name</button>
      <button id="Add-foods-by-picture" class ="box">Add foods by picture</button>
      <button id="Add-foods-from-list" class ="box">Add foods from list</button>
      <button id="Remove-by-name" class ="box">Remove by name</button>
      <button id="Remove-using-recipes" class ="box">Remove using recipes</button>
      <button id="Show-expiring" class ="box">Show expiring</button>
    </div>
    ...
  </div> 

  <div class="mainContent">
    <ul id="expList"></ul>
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
