<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my-food.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/add-food.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a3 id="login" href="login">Login</a3>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

  <!-- Page content -->
  <div class="myFoodTop">
    <h1 class="title">My Food</h1>
    <button class = "add_food" id = "add_food">Add food</button> <!-- onclick="popUp()" -->
      <div id="addFoodPopup" class="popup">
        <div class="addFoodPopup-content">
            <button class="x"  id="x"> <!-- close button -->
                X
            </button>
            <h1 style="color:rgb(196, 255, 196);">
                Add food
              </h1>
              <form>
                <div class ="input">
                  <label for="item-input"><br>Food:</label>
                  <input type="text" id="item-input-pop" name="item-input"></input>
                  <div id="invalid-input-food" class=errormsg>Invalid Input, Try Again</div>
                  <div id="valid-input-food" class=addedmsg>Item Added!</div>

                  <label for="exp-input"><br>Expiration date:</label>
                  <input type="date" id="exp-input-pop" name="exp-input"></input>

                  <label for="tag">Select a tag:</label>
                  <select id="tag">
                    <option selected>Other</option>
                    <option>Ingredient</option>
                    <option>Snacks</option>
                  </select>
                </div>
              </form>
            <button type="button" onclick="addItemExp()" class="closeAddPopup"  id="AddFoodButton">  <!--  -->
                  Add
              </button>
        </div>
      </div>
  
      <script>
        add_food.addEventListener("click", function () {
          console.log("open");
          addFoodPopup.classList.add("show");
        });
        x.addEventListener("click", function () {
          console.log("close?");
          addFoodPopup.classList.remove("show");
        });
        window.addEventListener("click", function (event) {
          if (event.target == addFoodPopup) {
            addFoodPopup.classList.remove("show");
          }
        });
      </script>
      
    <!-- Search box -->
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." maxlength="20" id="searchMyf">
        <button type="submit" id="searchMyfB">Go</button>
      </form>
    </div>
  </div>

    <!-------------- Right columns --------------------->
  <div class="rightcol">
    <!-- <button id="Sign-up" class ="login">Sign up/Login</button> -->
    <div class="sort-col">
      <p>Sort by...</p>
        <select id="sortRecipes">
          <option id = "RsortByAdded" selected>First added</option>
          <option id = "sortByExp">Expiring sooner</option>
          <option id = "RsortByExp">Expiring later</option>
          <option id = "sortByName">Name A-Z</option>
          <option id = "RsortByName">Name Z-A</option>
          <option id = "sortByAdded">Recently added</option>
        </select>
        <button class="sortButton" id="sortApply"> 
          Apply
        </button>
      <!-- <button id="Add-foods-by-picture" class ="box">Filter</button>
      <button id="Add-foods-from-list" class ="box">Add from shopping list</button> -->
      <button id="Show-expiring" class ="box">Show expiring</button>
    </div>
  </div> 

  <div class="mainContent">
    <ul id="expList"></ul>
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
