<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a3 id="login" href="login">Login</a3>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <!-- Page content -->
  <div class="recipesTop">
    <h1>Recipes</h1>
    <button class = "filter">Filter</button>
    <!-- Search box -->
    <div class="search-container">
      <form action="/api_endpoint">
        <input type="text" placeholder="Add keywords..." name="input1">
        <button type="submit">Go</button>
      </form>
    </div>
  </div>
    <!-- Right columns -->
  <div class="rightcol">
    <button id="Sign-up" class ="login">Sign up/Login</button>
    <div class="sort-col">
      <button id="Sort-by" class ="box">Sort by...</button>
      <button id="Time-to-make" class ="box">Time to make</button>
      <button id="Use-expiring-soon" class ="box">Use expiring soon</button>
      <button id="Vegitarian" class ="box">Vegitarian</button>
      <button id="More-options" class ="box">More options</button>
    </div>
    ...
  </div> 

  <div class="mainContent">
    main content
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
  <script type="module">

      // Import the functions you need from the SDKs you need
    
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
      import { getDatabases } from "firebase/database";
      // TODO: Add SDKs for Firebase products that you want to use
    
      // https://firebase.google.com/docs/web/setup#available-libraries
    
    
      // Your web app's Firebase configuration
    
      const firebaseConfig = {
    
        apiKey: "AIzaSyA3RzxLT0P7Vu_ne5bwfcSS2jFGXRV91YI",
    
        authDomain: "pantry-planner-c34aa.firebaseapp.com",
    
        projectId: "pantry-planner-c34aa",
    
        storageBucket: "pantry-planner-c34aa.appspot.com",
    
        messagingSenderId: "718999300893",
    
        appId: "1:718999300893:web:04b1ef888d8bc0b3074ff4",

        // The value of `databaseURL` depends on the location of the database
        //TODO: replace with database name
        databaseURL: "https://DATABASE_NAME.firebaseio.com",

    
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
    
    </script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
