<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/api.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a3 id="login" href="login">Login</a3>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  
  <!-- Page content -->
  <div class="recipesTop">
    <h1>Recipes</h1>
    <button class = "filter">Filter</button>

    <!-- Search box -->
    <div class="search-container">
      <form method="GET">
        <input type="text" placeholder="Add keywords..." name = "name" id="name"></input>
        <button id="submit" type="button" onclick=getData()>Go</button>
      </form>
      <script> /*hit enter and search*/
        var input = document.getElementById("name");
        input.addEventListener("keypress", function(event) {
          if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("submit").click();
          }
        });
        </script>
    </div>
  </div>

  <!-- Right columns -->
  <div class="rightcol">
    <button id="Sign-up" class ="login">Sign up/Login</button>
    <div class="sort-col">
      <button id="Sort-by" class ="box">Sort by...</button>
      <button id="useMyFood" class ="box">  <!--onclick = "getMyFood()" -->
        Use my food
      </button>
      <div id="myFoodPopup" class="popup">
        <div class="myFoodPopup-content">
            <h1 style="color:green;">
                Add food
              </h1>
              <ul id="expList"></ul>
            <button class="closePopup"  id="closePopup">
                  Close
              </button>
        </div>
      </div>
  
      <script>
          useMyFood.addEventListener("click", function () {
            console.log("open");
            myFoodPopup.classList.add("show");
          });
          closePopup.addEventListener("click", function () {
            console.log("close?");
            myFoodPopup.classList.remove("show");
          });
          window.addEventListener("click", function (event) {
              if (event.target == myFoodPopup) {
                myFoodPopup.classList.remove("show");
              }
          });
      </script>
      <button id="Use-expiring-soon" class ="box">Use expiring soon</button>
      <button id="Vegitarian" class ="box">Vegitarian</button>
      <button id="More-options" class ="box">More options</button>
    </div>
    ...
  </div> 

  <div class="mainContent">
    <ol id="recipes-list"></ol>
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
