<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <div class="main">
    <div class ="homeCol">
    <homeText> Settings : Logged In</homeText>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <!-- Page content -->
  <div class="main">
    ...
  </div> 
  <!-- import all the firebase stuff, put in body before using any firebase stuff-->
</body>
</html>
