<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shopping.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a id="pantry_planner" href="pantry_planner">Pantry Planner</a>
    <a id="my_food" href="my_food">My Food</a>
    <a id="shopping_list" href="shopping_list">Shopping List</a>
    <a id="recipes" href="recipes">Recipes</a>
    <a3 id="login" href="login">Login</a3>
    <a2 id="settings" href="settings">Settings</a2>
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <!-- Page content -->
  
<div class="main">
  <div class ="homeCol">
    <h1 class="homeText">
      Shopping List
    </h1>
    <div class = "sortBox">
      <div onclick="dFunction()" class="dropbtn">Sort by</div>
    </div>
    <div>
    <div id="myDropdown" class="dropdown-content">
      <a id = "sortByName">Name A-Z</a>
      <a id = "RsortByName">Name Z-A</a>
      <a id = "sortByAdded">Recently added</a>
      <a id = "RsortByAdded">First added</a>
    </div>
  </div>
      <form>
        <div class ="addItemButtonClass">
          <label for="label">Item Name:</label>
          <input type="text" id="shopping-list-input" name="shop-input">
          <button id="add-item-button" type="button" onclick="addItemShop()">Add to List</button>
          <div id="invalid-input-shop" class=errormsg>Invalid Input, Try Again</div>
        </div>
      </form>
    <scrollBox><ul id="shopping-list"></ul></scrollBox>
  </div>
</div>
<script type = "module" src="{{ url_for('static', filename='js/shopping-list.js') }}"></script>
</body>
</html>
