<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="pantry_planner">Pantry Planner</a>
    <a href="my_food">My Food</a>
    <a href="shopping_list">Shopping List</a>
    <a href="recipes">Recipes</a>
    <a2 href="settings">Settings</a2>
  </div>
  <!-- Page content -->
  <div class="main">
    </div>
    <div class ="homeCol">
      <div class ="sortBy">Sort by...</div>
      <div class ="textBox">My Shopping list</div>
      <form>
        <div class ="addItemButtonClass">
          <label for="label">Item Name:</label>
          <input type="text" id="shopping-list-input" name="shop-input">
          <button id="add-item-button" type="button" onclick="addItem()">Add to List</button>
        </div>
      </form>
      <scrollBox><ul id="shopping-list"></ul></scrollBox>
      </div>
  </div> 
  <script src="{{ url_for('static', filename='js/shopping-list.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
